.accordion {
  transform: translateX(27%);
  margin-bottom: 2rem;
}

.accordion-toggle {
  width: 607px;
  height: 60px;
  border-radius: 10px;
  border: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add smooth transition to the background color */
}

.accordion-toggle:hover {
  background-color: #a3a3a3; /* Change the background color on hover for a visual effect */
}

.accordion-toggle h3 {
  color: #1e1e1e;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrow {
  font-size: 40px;
  transition: transform 0.3s ease; /* Add smooth transition to the transform property */
}

.accordion-content {
  margin-top: 1rem;
  width: 607px;
  height: 100;
  overflow: hidden;
  transition: height 0.3s ease; /* Add smooth transition to the max-height */
}

.accordion-content p {
  margin: 0;
}

@media only screen and (max-width: 720px) {
  .accordion {
    transform: translateX(0);
  }

.accordion-container {
  transform: translateX(2rem);
}

  .accordion-toggle {
    width: 390px;
    height: 40px;
    flex-shrink: 0;
  }

  .accordion-toggle h3 {
    color: #c5c5c5;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    width: 50rem;
    transform: translateX(-2rem);
  }

  .accordion-content {
    width: 242px;
    height: 18px;
    flex-shrink: 0;
  }

  .arrow {
    font-size: 30px;
    color: #c5c5c5;
    width: 4rem;
  }
}
