.floating-label-input {
  position: relative;
  margin-bottom: 20px;
}

.label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  padding: 0 4px;
  font-size: 16px;
  color: #777;
  pointer-events: none;
  transition: all 0.2s;
  z-index: 1;
  background-color: white; /* Add this line */
  padding:  5px;
}

.input {
  width: 404px;
  height: 48px;
  padding: 10px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #777;
  outline: none;
  text-indent: 15px;
  transition: border-color 0.2s; /* Add this line */
}

.floating-label-input.active .label {
  top: 9px;
  right: 5px;
  transform: translateY(-100%);
  font-size: 12px;
  color: #777;
  width: fit-content;
  border: none;
}


