footer {
  display: flex;
  width: 100%;
  height: 310px;
  background: #cbcfdc;
  padding: 0 50px;
  overflow: hidden;
  margin-top: 3rem;
}

.content-1 {
  transform: translateY(51px);
  width: 25%;
}

.content-1 h3 {
  position: relative;
  left: 70px;
  bottom: 30px;
}

.copyright-tag {
  display: flex;
  position: relative;
  top: 120px;
  left: 3px;
}

.copyright-tag p {
  margin-left: 15px;
}

.content-2,
.content-3,
.content-4,
.content-5 {
  transform: translateX(90px) translateY(51px);
}

.content-2 ul,
.content-3 ul,
.content-4 ul,
.content-5 ul {
  list-style-type: none;
}

.content-2 ul li {
  margin-right: 50px;
  margin-bottom: 35px;
}

.content-2 a {
  color: #1e1e1e;
  font-style: normal;
  font-weight: 400;
  line-height: 131.523%; /* 23.674px */
  text-decoration: none;
}

.content-3 ul li {
  margin-right: 50px;
  margin-bottom: 35px;
}

.content-3 a {
  color: #1e1e1e;
  font-style: normal;
  font-weight: 400;
  line-height: 131.523%; /* 23.674px */
  text-decoration: none;
}

.content-4 ul li {
  margin-right: 50px;
  margin-bottom: 35px;
}

.content-4 a {
  color: #1e1e1e;
  font-style: normal;
  font-weight: 400;
  line-height: 131.523%; /* 23.674px */
  text-decoration: none;
}

.content-5 ul li {
  margin-right: 50px;
  margin-bottom: 35px;
}

.content-5 a {
  color: #1e1e1e;
  font-style: normal;
  font-weight: 400;
  line-height: 131.523%; /* 23.674px */
  text-decoration: none;
}

.social-icons {
  font-size: 30px;
  transform: translateY(40px);
}

.social-icons span {
  margin-right: 30px;
}

.contact-links {
  transform: translateY(70px);
}

@media only screen and (max-width: 720px) {
  footer {
    width: 100%;
    height: 697px;
    display: block;
    padding: 0 20px;
  }

  .content-1 {
    width: 170px;
  }

  .content-1 .logo-text-container img {
    width: 24px;
    height: 24px;
  }

  .content-1 h3 {
    left: 2.3rem;
    bottom: 1.5rem;
  }

  .content-1 .copyright-tag {
    display: block;
    top: 0;
    left: 0;
  }

  .content-1 .copyright-tag span {
    position: relative;
    left: -4.5rem;
  }

  .content-1 .copyright-tag .icon-s {
    font: 20px;
  }

  .content-1 .copyright-tag p {
    margin: 0;
    transform: translateX(2.4rem) translateY(-1rem);
  }

  .content-2,
  .content-3 {
    transform: translateX(0) translateY(6rem);
  }

  .content-4,
  .content-5 {
    transform: translateX(50%) translateY(-19.5rem);
  }

  .content-2 ul li,
  .content-3 ul li,
  .content-4 ul li,
  .content-5 ul li {
    margin-bottom: 30px;
  }

  .social-icons {
    font-size: 20px;
    transform: translateY(0);
    display: flex;
    width: 50px;
  }

  .social-icons span {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .contact-links {
    transform: translateY(0);
  }
}
