@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@700&family=Oswald:wght@600&family=Poppins&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 720px) {
  * {
    width: 100%;
  }
}