.creg-main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

.image-1 {
  height: 1101px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.creg-container {
  width: 593px;
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 16px;
  background: #fff;
  margin: 0 auto;
  z-index: 1;
}

.creg-container h3 {
  color: #1e1e1e;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.creg-container h4 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.form-close {
  transform: translateX(15rem);
  font-size: 24px;
  cursor: pointer;
}

.form-close:hover {
  color: #ff6b00;
}

/*.form-control {
  width: 404px;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: #777777;
  border: linear-gradient(#777777, #d9d9d9);
  border-radius: 10px;
  text-indent: 20px;
  transform: translateY(0);
}

.form-control:focus {
  outline: none;
}*/

.floating-input-container {
  position: relative;
  margin: 12px 0;
}

.floating-input-container .floating-input {
  width: 404px;
  height: 48px;
  padding: 10px;
  font-size: 18px;
  border-radius: 16px;
  background-color: transparent;
  border: 1px solid #777;
  text-indent: 15px;
  transition: 0.2s all ease;
}

.floating-input-container .floating-input:focus {
  border-color: transparent;
}

.floating-input-container .floating-input::placeholder {
  color: transparent;
}

.floating-input-container .form-label {
  position: absolute;
  top: 1rem;
  left: 15px;
  font-size: 18px;
  padding: 0 10px;
  color: #777;
  pointer-events: none;
  transition: all 0.2s ease;
}

.floating-input-container .floating-input:focus + .form-label,
.floating-input-container
  .floating-input:not(:placeholder-shown)
  + .form-label {
  top: -10px;
  left: 20px;
  padding: 0 5px;
  font-size: 16px;
  color: #777;
  background-color: white;
  border-radius: 5px;
}

.floating-input-container.invalid {
  border-color: red; /* Set the border color to red for invalid inputs */
}

.floating-input-container.invalid .floating-input {
  color: red; /* Set text color to red for invalid inputs */
}

.floating-input-container.invalid .form-label {
  color: red; /* Optionally, change label color for invalid inputs */
}

.creg-button {
  transform: translateY(0);
}

.cuser-redirect {
  transform: translateY(0);
}

.password-visibility-toggle {
  transform: translateX(-2.5rem);
  color: #777777;
  border: none;
}

.signin {
  text-decoration: none;
  margin-left: 10px;
}

.social-reg Button {
  text-align: center;
  align-items: center;
  margin: 0 10px;
}

.social-reg img {
  transform: translateY(5px);
}
