.welcome-container {
  display: block;
}

.welcome-container img {
  width: 100%;
  position: absolute;
  top: 80px;
  z-index: -1;
}

.welcome-container > .welcome-container-text {
  position: absolute;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  z-index: 2;
  width: 505px;
  left: 50px;
  top: 20%;
}

.welcome-container > .welcome-container-text > .tropic {
  color: var(--primary-g);
}

.welcome-container > .welcome-container-text > .med {
  color: var(--primary-o);
}

.sponsors-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 300px;
}

.carousel-container {
  padding: 10px;
  margin-top: 70px;
  margin-left: 5rem;
  transform: translateX(20px);
}

.carousel-container > .carousel-content > Slider {
  position: relative;
  align-items: center;
  left: 10px;
}

.testimony-card {
  position: absolute;
  transform: translateY(8rem);
  left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1240px;
  height: 400px;
  border: 1px solid #61ffb5;
  background: #e2fef9;
}

.testimony-card h3 {
  width: 435px;
  height: 280px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160.5%; /* 35.31px */
  overflow: hidden;
  position: relative;
  top: 20px;
}

.testimony-card img {
  position: relative;
  left: 100px;
}

.capacity-card {
  display: flex;
  transform: translateY(35rem);
  margin-top: 5rem;
  /*position: absolute;
    top: 180%;
    left: 8%;*/
}

.capacity-card-content {
  display: flex;
  width: 1113px;
}

.capacity-counter {
  --gap: 15px;
  --num-cols: 2;
  --row-height: 150px;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  /*position: relative;
    top: 20%;
    left: 20px;*/
}

.capacity-card-content {
  position: relative;
  left: 20%;
  margin: 20px 0;
}

.capacity-icon {
  text-align: center;
  margin-right: 20px;
  transform: translateX(-35px);
}

.capacity-icon img,
h3,
p {
  margin-bottom: 10px;
}

.capacity-icon h3 {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.capacity-icon p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.capacity-content {
  width: 500px;
  margin-top: 50px;
  transform: translateX(35px);
  /*position: relative;
    top: 30%;
    left: 15%;*/
}

.capacity-content p {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  flex-shrink: 0;
  text-align: justify;
}

.capacity-content p > b {
  font-family: Gelasio;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.feature-story-container {
  position: relative;
  transform: translateY(35rem);
  margin-top: 5rem;
  margin-bottom: 45%;
}

.feature-story-header {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.feature-story-header .feature-rectangle {
  width: 150px;
  height: 10px;
  background-color: #ff6b00;
  position: relative;
  left: 45%;
}

.stories-contianer {
  margin-top: 5rem;
}

.stories-card-item {
  display: flex;
}

.stories-card {
  position: relative;
  padding: 20px;
  width: 308px;
  height: 600px;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
  margin-left: 20px;
  /*float: left;
    transition: 0.6s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.26);*/
}

.stories-card img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.stories-card h3 {
  color: #1e1e1e;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.stories-card h4 {
  color: #1e1e1e;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  width: 268px;
  height: 120px;
  text-align: left;
}

.stories-card-bottom {
  display: flex;
  transform: translateY(2rem) translateX(-6px);
}

.stories-card-bottom img {
  position: relative;
  margin-top: 10px;
  left: 5px;
}

.stories-card-bottom p {
  width: 83px;
  color: #1e1e1e;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.stories-card-bottom p,
h5 {
  transform: translateX(10px);
  margin-top: 2rem;
  /*position: relative;
    
    left: 16px;*/
}

.faq {
  margin-top: 5rem;
}

.faq-header h3 {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700; /* 68.009px */
}

.faq-header .frequent-rectangle {
  width: 100px;
  height: 10px;
  background-color: #ff6b00;
  position: relative;
  left: 46.5%;
  margin-bottom: 4rem;
}

.feature-story-footer {
  color: #1e1e1e;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
  text-decoration-line: underline;
  text-underline-offset: 5px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.feature-story-footer:hover {
  color: #ff6b00;
}

@media only screen and (max-width: 720px) {
  .nav-logo-text {
    display: block;
  }

  .welcome-container > .welcome-container-text {
    font-size: 24px;
    /*align-items: center;*/
    text-align: center;
    justify-content: center;
    width: 232px;
    line-height: normal;
    margin-top: 20px;
    left: 7rem;
    top: 15rem;
    /*z-index: -1;*/
  }

  .sponsors-container {
    position: relative;
    transform: translateX(2.5rem);
  }

  .sponsors-container > a > svg {
    width: 62.864px;
    height: 24px;
  }

  .carousel-container {
    margin-left: 5px;
    transform: translateX(-4px);
  }

  .carousel-icon img {
    width: 70px;
    height: 70px;
  }

  .carousel-icon > p {
    visibility: hidden;
  }

  .testimony-card {
    display: block;
    position: relative;
    height: 480px;
    width: 100%;
    left: 0;
    padding: 10px;
  }

  .testimony-card img {
    position: absolute;
    width: 400px;
    height: 270px;
    top: 0;
    left: 5%;
  }

  .testimony-card h3 {
    font-size: 16px;
    top: 50%;
    left: 4%;
    height: 182px;
    transform: translateY(50px);
  }

  .capacity-card {
    display: flex;
    width: 500px;
    height: 700px;
    transform: translateY(6rem);
  }

  .capacity-icon img {
    width: 24px;
    height: 24px;
  }

  .capacity-card-content {
    height: 600px;
    flex-direction: column;
    left: 0;
  }

  .capacity-counter {
    flex: 1;
    height: 500px;
    overflow: visible;
    --row-height: 120px;
    transform: translateX(2rem);
  }

  .capacity-content {
    flex: 2;
    transform: translateX(10px);
    margin: 0;
    width: 450px;
    height: 250px;
    padding: 0 10px;
    overflow: visible;
  }

  .capacity-content p {
    font-size: 16px;
  }

  .feature-story-container {
    transform: translateY(0);
    margin-bottom: 10%;
  }

  .feature-story-header {
    font-size: 24px;
  }

  .feature-story-header .feature-rectangle {
    left: 36%;
  }

  .stories-contianer {
    margin-top: 3rem;
    margin-left: 15%;
  }

  .stories-card {
    width: 150px;
    height: 365px;
    padding: 10px;
  }

  .stories-card-item .stories-card:nth-child(n + 3) {
    display: none;
  }

  .stories-card img {
    width: 134px;
    height: 140px;
    margin: 0;
  }

  .stories-card h3 {
    font-size: 12px;
    width: 134px;
    transform: translateY(1rem);
  }

  .stories-card h4 {
    font-size: 8px;
    width: 134px;
    height: 60px;
    transform: translateY(1.5rem);
  }

  .stories-card-bottom {
    margin-top: 1rem;
  }

  .stories-card-bottom img {
    width: 40px;
    height: 20px;
    transform: translateY(1.2rem);
  }

  .stories-card-bottom p,
  h5 {
    font-size: 6px;
  }

  .faq-header .frequent-rectangle {
    left: 43%;
  }
}
