.orgreg-main-container {
  width: 100%;
  height: 120vh;
  display: flex;
}

.image-1 {
  height: 1101px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 1440px;
}

.orgreg-container {
  width: 561px;
  height: 1130px;
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 30px;
  border-radius: 16px;
  background: #fff;
  margin: auto;
  z-index: 1;
}

.orgreg-container > .floating-label-input {
  margin-bottom: 4.5px;
}

.orgreg-container h3 {
  color: #1e1e1e;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.orgreg-container h4 {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.validate {
  display: inline-flex;
}

.validate p {
  transform: translateX(10px) translateY(6px);
}

.terms {
  color: #0f3dde;
  text-decoration: none;
}

.orgreg-button {
  transform: translateY(0);
}

.ouser-redirect {
  transform: translateY(0);
}

.signin {
  color: #0f3dde;
  text-decoration: none;
}

.social-reg Button {
  text-align: center;
  align-items: center;
  margin: 0 10px;
}

.social-reg img {
  transform: translateY(5px);
}
