.header-container {
  margin: -2rem auto;
}

.header-wrapper {
  transform: translateX(5rem);
}

/*.header-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1.5rem; 
  width: 100%;
  border-bottom: 3px solid #000;
}*/

.header-wrapper button {
  margin-top: 3rem;
  margin-right: 5em;
  margin-bottom: 5rem;
}

.header-buttons {
  width: 94px;
  height: 130px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.1);
}

.header-buttons a {
  text-decoration: none;
}

.header-buttons:hover {
  background-color: #cbcfdc;
  cursor: pointer;
}
